server:
  port: 8082

spring:
  application:
    name: board-service
  datasource:
    url: jdbc:postgresql://localhost:5432/kanban_board_db
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      # On utilise la variable Docker, et on change le "localhost" par défaut
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-service:8761/eureka/}
  instance:
    # Très important pour Docker
    prefer-ip-address: true
