server:
  port: 8081

spring:
  application:
    name: auth-service
  datasource:
    # On utilise POSTGRES_USER et POSTGRES_PASSWORD de ton .env
    url: jdbc:postgresql://localhost:5432/${DB_AUTH_NAME}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION}
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    # Cette option est cruciale pour que Swagger utilise l'URL de la gateway et non celle du service interne
    use-root-path: true

eureka:
  client:
    service-url:
      # On utilise la variable Docker, et on change le "localhost" par défaut
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-service:8761/eureka/}
  instance:
    # Très important pour Docker
    prefer-ip-address: true
